<!-- <div class="breadcrumbs">
  <ul>
    <li>
      <a title="Home">Company Setup</a>
    </li>
    <li>
      <a ui-sref="branch-list" title="Branch List">Branch List</a>
    </li>
  </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{pageName}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="saveSportList();">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="form-group">
                            <label>Sport List Name</label>
                            <input type="text" placeholder="Sport List Name" class="form-control" required ng-model="sportList.name">
                        </div>
                        <div class="form-group">
                            <label>Sport List Type</label>
                            <select class="form-control" ng-model="sportList.sporttype">
                                <option value="">Select Sport List Type</option>
                                <option value="Team">Team Sports</option>
                                <option value="Racquet">Racquet Sports</option>
                                <option value="Combat">Combat Sports</option>
                                <option value="Target">Target Sports</option>
                                <option value="Aquatics">Aquatics Sports</option>
                                <option value="Individual">Individual Sports</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Table Header</label>
                            <ui-select multiple tagging tagging-label="false" ng-model="sportList.tableContent" title="Choose a header" on-select="addContent($select)">
                                <ui-select-match placeholder="Select header">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="color in []| filter:$select.search">
                                    {{color}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                           <label>Draw Format*</label>
                           <select class="form-control" ng-model="sportList.drawFormat" required>
                              <option value="">Select Draw Format</option>
                              <option value="Knockout">Knockout</option>
                              <option value="League">League</option>
                              <option value="League cum Knockout">League cum Knockout</option>
                              <option value="Heats">Heats</option>
                              <option value="Qualifying Round">Qualifying Round</option>
                              <option value="Swiss League">Swiss League</option>
                              <!-- <option value="Round Robin-Knockout">Round Robin-Knockout</option> -->
                           </select>
                        </div>
                        <div class="form-group">
                            <label>Inactive Icon</label>
                            <div class="banner-img-holder" ng-if="sportList.inactiveimage">
                                <img ng-src="{{sportList.inactiveimage|uploadpath}}" alt="" class="img-responsive margin-auto">
                            </div>
                            <upload-image ng-model="sportList.inactiveimage" ></upload-image>
                        </div>
                        <div class="form-group">
                            <label>Icon</label>
                            <div class="banner-img-holder" ng-if="sportList.image">
                                <img ng-src="{{sportList.image|uploadpath}}" alt="" class="img-responsive margin-auto">
                            </div>
                            <upload-image ng-model="sportList.image" ></upload-image>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit">Save</button>
                            <button class="btn btn-default" ui-sref="sportlist">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
