<!-- <div class="breadcrumbs">
  <ul>
    <li>
      <a title="Home">Company Setup</a>
    </li>
    <li>
      <a ui-sref="branch-list" title="Branch List">Branch List</a>
    </li>
  </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{pageName}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="saveSportRule();">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="form-group">
                            <label>Sport Name</label>
                            <div class="form-group">
                                <ui-select ng-model="sportrule.sportid" title="Select Sport" on-select="selectContent(sportrule.sportid)">
                                    <ui-select-match placeholder="Select Sport">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="sport in sportlist | filter: $select.search">
                                        <div ng-bind-html="sport.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Banner</label>
                            <div class="banner-img-holder" ng-if="sportrule.banner">
                                <img ng-src="{{sportrule.banner|uploadpath}}" alt="" class="img-responsive margin-auto">
                            </div>
                            <upload-image ng-model="sportrule.banner" no-view></upload-image>
                        </div>
                        <div class="form-group">
                            <label>Year</label>
                            <input type="text" placeholder="Year" class="form-control" ng-model="sportrule.year" only-digits maxlength="4">
                        </div>
                        <div class="form-group">
                            <label>Start Date</label>
                            <input type="date" class="form-control" ng-model="sportrule.fromDate">
                        </div>
                        <div class="form-group">
                            <label>To Date</label>
                            <input type="date" class="form-control" ng-model="sportrule.toDate">
                        </div>
                        <div class="form-group">
                            <label>Last Date of Registration</label>
                            <input type="date" class="form-control" ng-model="sportrule.lastDate">
                        </div>
                        <div class="form-group">
                            <label>Venue</label>
                            <input type="text" placeholder="Venue" class="form-control" ng-model="sportrule.venue">
                        </div>
                        <div class="form-group">
                            <label>Federation Logo</label>
                            <div class="banner-img-holder" ng-if="sportrule.federationLogo">
                                <img ng-src="{{sportrule.federationLogo|uploadpath}}" alt="" class="img-responsive margin-auto">
                            </div>
                            <upload-image ng-model="sportrule.federationLogo" no-view></upload-image>
                        </div>
                        <div class="form-group tinymce">
                            <label>Content After Date</label>
                            <text-angular ng-model="sportrule.dateContent"></text-angular>
                        </div>
                        <!-- <div class="form-group">
                                <label>Content After Date</label>
                            <textarea ui-tinymce="tinymceOptions" rows="10" placeholder="Content After Date" class="form-control" ng-model="sportrule.dateContent"></textarea>
                        </div> -->
                        <div class="form-group tinymce">
                            <label>Rules</label>
                            <text-angular ng-model="sportrule.rules"></text-angular>
                        </div>
                        <!-- <div class="form-group">
                            <label>Rules</label>
                            <textarea ui-tinymce="tinymceOptions" rows="10" class="form-control" ng-model="sportrule.rules" placeholder="Rules">
                            </textarea>
                        </div> -->
                        <div class="form-group tinymce">
                            <label>Age Group Content</label>
                            <text-angular ng-model="sportrule.ageGroupContent"></text-angular>
                        </div>
                        <!-- <div class="form-group">
                            <label>Age Group Content</label>
                            <textarea ui-tinymce="tinymceOptions" rows="10" placeholder="Age Group Content" class="form-control" ng-model="sportrule.ageGroupContent"></textarea>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Age Group Table</label>
                                        </div>
                                        <div class="form-group">
                                            <a ng-click="addAge(sportrule);" class="btn btn-success pull-right">Add Content</a>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td ng-repeat="column in contentheader">{{column}}</td>
                                                        <td>Operation</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="content in sportrule.ageGroupTable">
                                                        <td ng-repeat="column in contentheader">
                                                            <input type="text" class="form-control" ng-model="content[column]" placeholder=" Enter {{column}}">
                                                        </td>
                                                        <td>
                                                            <input class="btn btn-danger" type="button" ng-click="deleteFunc(sportrule.ageGroupTable.indexOf(content),4);" value="Delete">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group tinymce">
                            <label>Eligibility Content</label>
                            <text-angular ng-model="sportrule.eligibilityContent"></text-angular>
                        </div>
                        <!-- <div class="form-group">
                            <label>Eligibility Content</label>
                            <textarea ui-tinymce="tinymceOptions" rows="10" class="form-control" ng-model="sportrule.eligibilityContent" placeholder="Eligibility Content">
                            </textarea>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Eligibility Table</label>
                                        </div>
                                        <div class="form-group">
                                            <a ng-click="addCont(sportrule);" class="btn btn-success pull-right">Add Content</a>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td>Age Group</td>
                                                        <td>Cut Off Date</td>
                                                        <td>Operation</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="content in sportrule.eligibilityTable">
                                                        <td style="width:40%">
                                                            <div class="form-group">
                                                                <ui-select ng-model="content.agegroup" title="Select Age Group">
                                                                    <ui-select-match placeholder="Select Age Group">{{$select.selected.name}}</ui-select-match>
                                                                    <ui-select-choices repeat="age in agegroup | filter: $select.search">
                                                                        <div ng-bind-html="age.name | highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="date" class="form-control" ng-model="content.date">
                                                        </td>
                                                        <td>
                                                            <input class="btn btn-danger" type="button" ng-click="deleteFunc(sportrule.eligibilityTable.indexOf(content),1);" value="Delete">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Schedule & Draws</label>
                            <!-- <input type="text" placeholder="Schedule & Draws" class="form-control" ng-model="sportrule.scheduleLeader"> -->
                        </div>
                        <div class="form-group tinymce">
                            <label>Year Before Content</label>
                            <text-angular ng-model="sportrule.yearBeforeContent"></text-angular>
                        </div>
                        <!-- <div class="form-group">
                            <label>Year Before Content</label>
                            <textarea ui-tinymce="tinymceOptions" rows="10" placeholder="Year Before Content" class="form-control" ng-model="sportrule.yearBeforeContent"></textarea>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Winner Table</label>
                                        </div>
                                        <div class="form-group">
                                            <a ng-click="addWin(sportrule);" class="btn btn-success pull-right">Add Content</a>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td>Category</td>
                                                        <td>School</td>
                                                        <td>Operation</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="content in sportrule.winnerTable">
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="content.category" placeholder="Category">
                                                        </td>
                                                        <td style="width:40%">
                                                            <div class="form-group">
                                                                <ui-select ng-model="content.school" title="Select School">
                                                                    <ui-select-match placeholder="Select School">{{$select.selected.name}}</ui-select-match>
                                                                    <ui-select-choices repeat="school in school | filter: $select.search">
                                                                        <div ng-bind-html="school.name | highlight: $select.search"></div>
                                                                        <small>
                                                                           SFA-ID:<span ng-bind-html="school.sfaid | highlight: $select.search"></span>
                                                                           Primary-ID:<span ng-bind-html="school._id | highlight: $select.search"></span>
                                                                        </small>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input class="btn btn-danger" type="button" ng-click="deleteFunc(sportrule.winnerTable.indexOf(content),2);" value="Delete">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Team Table</label>
                                        </div>
                                        <div class="form-group">
                                            <a ng-click="addTeam(sportrule);" class="btn btn-success pull-right">Add Content</a>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td>Category</td>
                                                        <td>School</td>
                                                        <td>Operation</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="content in sportrule.teamTable">
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="content.category" placeholder="Category">
                                                        </td>
                                                        <td style="width:40%">
                                                            <div class="form-group">
                                                                <ui-select ng-model="content.school" title="Select School">
                                                                    <ui-select-match placeholder="Select School">{{$select.selected.name}}</ui-select-match>
                                                                    <ui-select-choices repeat="school in school | filter: $select.search">
                                                                        <div ng-bind-html="school.name | highlight: $select.search"></div>
                                                                        <small>
                                                                           SFA-ID:<span ng-bind-html="school.sfaid | highlight: $select.search"></span>
                                                                           Primary-ID:<span ng-bind-html="school._id | highlight: $select.search"></span>
                                                                        </small>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input class="btn btn-danger" type="button" ng-click="deleteFunc(sportrule.teamTable.indexOf(content),3);" value="Delete">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="form-group">
                                <label>Student</label>
                                <ui-select multiple ng-model="sportrule.featured" title="Choose Student" class="form-control" on-select="saveStudent(sportrule.featured,$select);">
                                    <ui-select-match placeholder="Choose Student">
                                        <span ng-bind="$item.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices refresh-delay="0" refresh="getStudent($select.search)" repeat="item in (students | filter: $select.search) track by item._id">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label>Team</label>
                                <ui-select multiple ng-model="sportrule.featuredTeam" title="Choose Team" class="form-control" on-select="saveTeam(sportrule.featuredTeam,$select);">
                                    <ui-select-match placeholder="Choose Team">
                                        <span ng-bind="$item.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices refresh-delay="0" refresh="getTeam($select.search)" repeat="item in (teams | filter: $select.search) track by item._id">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group tinymce">
                            <label>About</label>
                            <text-angular ng-model="sportrule.about"></text-angular>
                        </div>
                        <!-- <div class="form-group">
                            <label>About</label>
                            <textarea ui-tinymce="tinymceOptions" rows="10" placeholder="About" class="form-control" ng-model="sportrule.about"></textarea>
                        </div> -->
                        <div class="form-group">
                            <label class="block">Photos</label>
                            <div class="banner-img-holder" ng-if="sportrule.images.length > 0" ng-repeat="image in sportrule.images">
                                <img ng-src="{{image.name|uploadpath}}" alt="" class="img-responsive margin-auto">
                                <button type="button" ng-click="removeimage($index);" class="btn btn-danger"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <upload-image ng-model="sportrule.images" multiple no-view inobj></upload-image>
                        </div>
                        <!-- <div class="form-group">
                            <label>Training Name</label>
                            <input type="text" class="form-control" ng-model="sportrule.trainingname" placeholder="Training Name">
                        </div>
                        <div class="form-group">
                            <label>Training Content</label>
                            <input type="text" class="form-control" ng-model="sportrule.training" placeholder="Training Content">
                        </div>
                        <div class="form-group">
                            <label>Training Logo</label>
                            <div class="banner-img-holder" ng-if="sportrule.trainingLogo">
                                <img ng-src="{{sportrule.trainingLogo|uploadpath}}" alt="" class="img-responsive margin-auto">
                            </div>
                            <upload-image ng-model="sportrule.trainingLogo" no-view></upload-image>
                        </div>
                        <div class="form-group">
                            <label>Training Link</label>
                            <input type="text" class="form-control" ng-model="sportrule.trainingLink" placeholder="Training Link">
                        </div>
                        <div class="form-group">
                            <label>Form</label>
                            {{sportrule.form}}
                            <upload-image ng-model="sportrule.form" no-view></upload-image>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit">Save</button>
                            <button class="btn btn-default" ui-sref="sportrule">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>