<!-- <div class="breadcrumbs">
  <ul>
    <li>
      <a title="Home">Company Setup</a>
    </li>
    <li>
      <a ui-sref="branch-list" title="Branch List">Branch List</a>
    </li>
  </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{pageName}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="saveSport();">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="form-group">
                            <label>Year*</label>
                            <select class="form-control" ng-model="sport.year" ng-options="year for year in allYears">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>School*</label>
                            <ui-select ng-model="sport.school" title="Select School" on-select="callme();">
                                <ui-select-match placeholder="Select School">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="school in schools | filter: $select.search">
                                    <span ng-bind-html="school.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Sport Name*</label>
                            <ui-select ng-model="sport.sportslist" title="Select Sport" required on-select="getFirstCategory()">
                                <ui-select-match placeholder="Select Sport">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="sport in sportsList | filter: $select.search">
                                    <span ng-bind-html="sport.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div >
                          <h5 ng-if="sport.school && oneSchool.notpaidfor"> * <i>The School has NOT paid for {{oneSchool.notpaidfor}}</i></h5>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <ui-select multiple limit="1" tagging tagging-label="false" ng-model="sport.firstcategory" title="Choose Category" class="form-control">
                                <ui-select-match placeholder="Choose Category">
                                    <span ng-bind="$item.name"></span>
                                </ui-select-match>
                                <ui-select-choices refresh-delay="0" refresh="getFirstCategory()" repeat="item in (firstcategories | filter: $select.search) track by item._id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Age Group</label>
                            <ui-select multiple limit="1" tagging tagging-label="false" ng-model="sport.agegroup" title="Choose Age Group" class="form-control" on-select="saveAgeGroup(sport.agegroup,$select);">
                                <ui-select-match placeholder="Choose Age Group">
                                    <span ng-bind="$item.name"></span>
                                </ui-select-match>
                                <ui-select-choices refresh-delay="0" refresh="getAgeGroup($select.search)" repeat="item in (agegroups | filter: $select.search) track by item._id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Sub Category</label>
                            <ui-select multiple limit="1" tagging tagging-label="false" ng-model="sport.secondcategory" title="Choose Sub Category" class="form-control" on-select="saveSecondCategory(sport.secondcategory,$select);">
                                <ui-select-match placeholder="Choose Sub Category">
                                    <span ng-bind="$item.name"></span>
                                </ui-select-match>
                                <ui-select-choices refresh-delay="0" refresh="getSecondCategory($select.search)" repeat="item in (secondcategories | filter: $select.search) track by item._id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit">Save</button>
                            <button class="btn btn-default" ui-sref="studentsport({id:studentId,school:school})">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <div class="widget">
   <div class="form-elements-sec">
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="disabledSelect">Status</label>
               <select class="form-control">
                  <option value="select">Select Status</option>
                  <option value="select">Active</option>
                  <option value="select">Inactive</option>
               </select>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> Is a Billable Branch
               </label>
            </div>
            <div class="form-group">
               <label for="disabledSelect">Series Format</label>
               <select class="form-control">
                  <option value="select">Select Series Format</option>
                  <option value="select">1</option>
                  <option value="select">2</option>
               </select>
            </div>
         </div>
         <div class="col-md-6">
            <label for="disabledSelect">TAT</label>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> STAT
               </label>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> ITAT
               </label>
               <div class="checkbox">
                  <label>
                     <input type="checkbox"> FSR
                  </label>
               </div>
               <div class="checkbox">
                  <label>
                     <input type="checkbox"> R2NR
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->
