<!-- <div class="breadcrumbs">
  <ul>
    <li>
      <a title="Home">Company Setup</a>
    </li>
    <li>
      <a ui-sref="branch-list" title="Branch List">Branch List</a>
    </li>
  </ul>
</div> -->

<div class="heading-sec">
   <div class="row">
      <div class="col-md-4 column">
         <div class="heading-profile">
            <h2>{{pageName}}</h2>
         </div>
      </div>
   </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
   <div class="row">
      <div class="col-md-12">
         <div class="widget">
            <div class="form-elements-sec">
               <div class="form-group">
                  <label>Age Group</label>
                  <input type="text" placeholder="Age Group" class="form-control">
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="text-center mt20">
                  <button class="btn btn-default" type="submit">Save</button>
                  <button class="btn btn-default" type="submit">Cancel</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- <div class="widget">
   <div class="form-elements-sec">
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="disabledSelect">Status</label>
               <select class="form-control">
                  <option value="select">Select Status</option>
                  <option value="select">Active</option>
                  <option value="select">Inactive</option>
               </select>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> Is a Billable Branch
               </label>
            </div>
            <div class="form-group">
               <label for="disabledSelect">Series Format</label>
               <select class="form-control">
                  <option value="select">Select Series Format</option>
                  <option value="select">1</option>
                  <option value="select">2</option>
               </select>
            </div>
         </div>
         <div class="col-md-6">
            <label for="disabledSelect">TAT</label>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> STAT
               </label>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> ITAT
               </label>
               <div class="checkbox">
                  <label>
                     <input type="checkbox"> FSR
                  </label>
               </div>
               <div class="checkbox">
                  <label>
                     <input type="checkbox"> R2NR
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->
