<!-- <div class="breadcrumbs">
  <ul>
    <li>
      <a title="Home">Company Setup</a>
    </li>
    <li>
      <a ui-sref="branch-list" title="Branch List">Branch List</a>
    </li>
  </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>SwissLeague</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="submitSwissLeague();">
                <div class="widget">
                    <div class="form-elements-sec">
                        <!-- <div class="form-group" >
                          <label>MatchId *</label>
                          <input type="text" placeholder="Match ID" class="form-control" required  ng-model="swissleague.matchid" only-digits disabled>
                      </div> -->
                        <div class="form-group">
                            <label>Year *</label>
                            <input type="text" placeholder="Year" class="form-control" required ng-model="swissleague.year" ng-change="getSportsByYear()" only-digits disabled>
                        </div>
                        <div class="form-group">
                            <label>Sport *</label>
                            <ui-select ng-model="swissleague.sport" required title="Select Sport" on-select="sportSelected();" ng-disabled="true">
                                <ui-select-match placeholder="Select Sport">{{$select.selected.sportslist.name}} {{$select.selected.gender}} {{$select.selected.firstcategory.name}} {{$select.selected.secondcategory.name}} {{$select.selected.agegroup.name}}</ui-select-match>
                                <ui-select-choices repeat="sport in sportsList | filter: $select.search" refresh="getSportsByYear()">
                                    <div ng-bind-html="sport.sportslist.name | highlight: $select.search"></div>
                                    <small>
                                      <span ng-bind-html="sport.gender | highlight: $select.search"></span>
                                      <span ng-bind-html="sport.agegroup.name | highlight: $select.search"></span>
                                       <span ng-bind-html="sport.firstcategory.name | highlight: $select.search"></span>
                                        <span ng-bind-html="sport.secondcategory.name | highlight: $select.search"></span>

                                  </small>
                                </ui-select-choices>
                            </ui-select>

                        </div>

                        <div class="form-group">
                            <label>Participant Type *</label>
                            <select class="form-control" ng-model="swissleague.participantType" required>
                              <option value="">Select Participant Type</option>
                              <option value="team">Team</option>
                              <option value="player">Player</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <label>Name </label>
                            <input type="text" placeholder="SwissLeague Name" class="form-control" required ng-model="swissleague.name">
                        </div>
                        <div class="form-group">
                            <label>Date </label>
                            <input type="date" placeholder="SwissLeague Date" class="form-control" ng-model="swissleague.date">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Order *</label>
                                    <input type="text" placeholder="Order" required class="form-control w20" ng-model="swissleague.order" only-digits disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>Round *</label>
                                    <input type="text" placeholder="Round Name" required class="form-control" ng-model="swissleague.round" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="">
                                        <div class="form-group">
                                            <label>SwissLeagues</label>
                                        </div>
                                        <div class="form-group">
                                            <a ng-click="addParticipant();" class="btn btn-success pull-right">Add Participant</a>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="text-uppercase">
                                                        <!-- <td>ID</td> -->
                                                        <td ng-if="swissleague.participantType == 'player'">player</td>
                                                        <td ng-if="swissleague.participantType == 'team'">team</td>
                                                        <td>laneno</td>
                                                        <td>result</td>
                                                        <td>timing</td>
                                                        <td>standing</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="detail in swissleague.SwissLeagues">
                                                        <!-- <td><input type="text" placeholder="ID {{$index +1}}" class="form-control" required ng-model="detail.id" only-digits></td> -->
                                                        <td ng-if="swissleague.participantType == 'player'">
                                                            <div class="form-group">
                                                                <ui-select required ng-model="detail.player" title="Select Player" >
                                                                    <ui-select-match placeholder="Select Player">{{$select.selected.name}}</ui-select-match>
                                                                    <ui-select-choices refresh-delay="0" refresh="getSwissLeaguePlayer($select.search)" repeat="player1 in students | filter: $select.search">
                                                                        <div ng-bind-html="player1.name | highlight: $select.search"></div>
                                                                        <small>
                                                                SFA-ID:<span ng-bind-html="player1.sfaid | highlight: $select.search"></span>

                                                            </small>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </td>
                                                        <td ng-if="swissleague.participantType == 'team'">
                                                            <div class="form-group">
                                                                <ui-select required ng-model="detail.team" title="Select Team {{$index +1}}" >
                                                                    <ui-select-match placeholder="Select Team">{{$select.selected.name}}</ui-select-match>
                                                                    <ui-select-choices refresh-delay="0" refresh="getSwissLeagueTeam($select.search)" repeat="team2 in teams | filter: $select.search">
                                                                        <div ng-bind-html="team2.name | highlight: $select.search"></div>
                                                                        <small>
                                                                    SFA-ID:<span ng-bind-html="team2.sfaid | highlight: $select.search"></span>

                                                                </small>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </td>
                                                        <td><input type="text" placeholder="Lane No " class="form-control" ng-model="detail.laneno" only-digits></td>
                                                        <td><input type="text" placeholder="Result {{$index +1}}" class="form-control" ng-model="detail.result"></td>
                                                        <td><input type="text" placeholder="Timing" class="form-control" ng-model="detail.timing"></td>
                                                        <td><input type="text" placeholder="Standing" class="form-control" ng-model="detail.standing" only-digits></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit">Save</button>
                            <button class="btn btn-default" ui-sref="SwissLeagueaddround({id:sportid})">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
