<!-- <div class="breadcrumbs">
  <ul>
    <li>
      <a title="Home">Company Setup</a>
    </li>
    <li>
      <a ui-sref="branch-list" title="Branch List">Branch List</a>
    </li>
  </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>SwissLeague</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="submitSwissLeague();">
                <div class="widget">
                    <div class="form-elements-sec">
                        <!-- <div class="form-group" >
                          <label>MatchId </label>
                          <input type="text" placeholder="Match ID" class="form-control"   ng-model="swissleague.matchid" only-digits disabled>
                      </div> -->
                        <div class="form-group">
                            <label>Year *</label>
                            <input type="text" placeholder="Year" class="form-control" required ng-model="swissleague.year" ng-change="getSportsByYear()"
                                only-digits disabled>
                        </div>
                        <div class="form-group">
                            <label>Sport *</label>
                            <ui-select ng-model="swissleague.sport" required title="Select Sport" on-select="sportSelected();" ng-disabled="true">
                                <ui-select-match placeholder="Select Sport">{{$select.selected.sportslist.name}} {{$select.selected.gender}} {{$select.selected.firstcategory.name}}
                                    {{$select.selected.secondcategory.name}} {{$select.selected.agegroup.name}}</ui-select-match>
                                <ui-select-choices repeat="sport in sportsList | filter: $select.search" refresh="getSportsByYear()">
                                    <div ng-bind-html="sport.sportslist.name | highlight: $select.search"></div>
                                    <small>
                                      <span ng-bind-html="sport.gender | highlight: $select.search"></span>
                                      <span ng-bind-html="sport.agegroup.name | highlight: $select.search"></span>
                                       <span ng-bind-html="sport.firstcategory.name | highlight: $select.search"></span>
                                        <span ng-bind-html="sport.secondcategory.name | highlight: $select.search"></span>

                                  </small>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                        <div class="form-group">
                            <label>Date </label>
                            <input type="date" placeholder="SwissLeague Date" class="form-control" ng-model="swissleague.date">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Order *</label>
                                    <input type="text" placeholder="Order" required class="form-control w20" ng-model="swissleague.order" only-digits>
                                </div>
                                <div class="col-md-3">
                                    <label>Pseudo Round No. *</label>
                                    <input type="text" placeholder="Order" required class="form-control w20" ng-model="swissleague.roundno" only-digits>
                                </div>
                                <div class="col-md-6">
                                    <label>Round *</label>
                                    <input type="text" placeholder="Round Name" required class="form-control" ng-model="swissleague.round">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Player 1 </label>
                            <ui-select ng-model="swissleague.player1" title="Select Player">
                                <ui-select-match placeholder="Select Player">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices refresh-delay="0" refresh="getSwissLeaguePlayer($select.search)" repeat="player1 in students | filter: $select.search">
                                    <div ng-bind-html="player1.name | highlight: $select.search"></div>
                                    <small>
                            SFA-ID:<span ng-bind-html="player1.sfaid | highlight: $select.search"></span>
                        </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Result 1 *</label>
                            <select class="form-control" ng-model="swissleague.result1">
                              <option value=""></option>
                              <option value="Won">Won</option>
                              <option value="Bye">Bye</option>
                              <option value="Walkover">Walkover</option>
                              <option value="No Show">No Show</option>
                              <option value="Loss">Loss</option>
                          </select>
                        </div>

                        <div class="form-group">
                            <label>Player 2 </label>
                            <ui-select ng-model="swissleague.player2" title="Select Player">
                                <ui-select-match placeholder="Select Player">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices refresh-delay="0" refresh="getSwissLeaguePlayer($select.search)" repeat="player1 in students | filter: $select.search">
                                    <div ng-bind-html="player1.name | highlight: $select.search"></div>
                                    <small>
                            SFA-ID:<span ng-bind-html="player1.sfaid | highlight: $select.search"></span>

                        </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Result 2 *</label>
                            <select class="form-control" ng-model="swissleague.result2">
                              <option value=""></option>
                              <option value="Won">Won</option>
                              <option value="Bye">Bye</option>
                              <option value="Walkover">Walkover</option>
                              <option value="No Show">No Show</option>
                              <option value="Loss">Loss</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <label>Start Time</label>
                            <input type="time" placeholder="Start Time" class="form-control" ng-model="swissleague.startTime">
                        </div>
                        <div class="form-group">
                            <label>End Time</label>
                            <input type="time" placeholder="End Time" class="form-control" ng-model="swissleague.endTime">
                        </div>
                        <div class="form-group">
                            <label>Total Time</label>
                            <input type="text" placeholder="Total Time" class="form-control" ng-model="swissleague.totalTime">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit">Save</button>
                            <button class="btn btn-default" ui-sref="swissaddround({id:sportid})">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>