<!-- <div class="breadcrumbs">
  <ul>
    <li>
      <a title="Home">Company Setup</a>
    </li>
    <li>
      <a ui-sref="branch-list" title="Branch List">Branch List</a>
    </li>
  </ul>
</div> -->

<div class="heading-sec">
   <div class="row">
      <div class="col-md-4 column">
         <div class="heading-profile">
            <h2>{{pageName}}</h2>
         </div>
      </div>
   </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
   <div class="row">
      <div class="col-md-12">
         <div class="widget">
            <div class="form-elements-sec">
               <!-- <div class="widget-title">
            <h3>Branch</h3>
          </div> -->
               <form role="form" class="sec ng-pristine ng-valid">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>School Id*</label>
                           <input type="text" placeholder="School Id" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Board*</label>
                           <select class="form-control">
                              <option value="">Select Board</option>
                              <option value="CBSE">CBSE</option>
                              <option value="ICSE">ICSE</option>
                              <option value="ISC">ISC</option>
                              <option value="IB">IB</option>
                              <option value="IGCSE">IGCSE</option>
                              <option value="NIOS">NIOS</option>
                              <option value="SSC">SSC</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>School Name*</label>
                           <input type="text" placeholder="School Name" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Is Verified?</label>
                           <select class="form-control">
                              <option value="">Is Verified?</option>
                              <option value="true">Yes</option>
                              <option value="false">No</option>
                           </select>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="widget">
                  <div class="form-elements-sec">
                     <div class="widget-title">
                        <h3>Address</h3>
                     </div>
                     <div class="form-group">
                        <label>Address</label>
                        <textarea placeholder="Address" class="form-control"> </textarea>
                     </div>
                     <div class="form-group">
                        <label>Location</label>
                        <input type="text" placeholder="Location" class="form-control">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="widget">
                  <div class="form-elements-sec">
                     <div class="widget-title">
                        <h3>Contact</h3>
                     </div>
                     <div class="form-group">
                        <label>Email (Comma seperated)</label>
                        <input type="email" placeholder="Email (Comma seperated)" class="form-control">
                     </div>
                     <div class="form-group">
                        <label>Contact (Comma seperated)</label>
                        <input type="text" placeholder="Contact (Comma seperated)" class="form-control">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="widget">
                  <div class="form-elements-sec">
                     <div class="widget-title">
                        <h3>Sports Participated</h3>
                     </div>
                     <h5>Team Sports:</h5>
                     <div class="checkbox">
                        <label>
                           <input type="checkbox">Basketball
                        </label>
                        <label>
                           <input type="checkbox">Handball
                        </label>
                        <label>
                           <input type="checkbox">Volleyball
                        </label>
                        <label>
                           <input type="checkbox">Football
                        </label>
                        <label>
                           <input type="checkbox">Throwball
                        </label>
                        <label>
                           <input type="checkbox">Hockey
                        </label>
                        <label>
                           <input type="checkbox">Kho Kho
                        </label>
                        <label>
                           <input type="checkbox">Kabaddi
                        </label>
                     </div>
                     <h5>Racquet Sports:</h5>
                     <div class="checkbox">
                        <label>
                           <input type="checkbox">Tennis (Singles & Doubles)
                        </label>
                        <label>
                           <input type="checkbox">Table Tennis (Singles & Doubles)
                        </label>
                        <label>
                           <input type="checkbox">Badminton (Singles & Doubles)
                        </label>
                        <label>
                           <input type="checkbox">Squash
                        </label>
                     </div>
                     <h5>Combat Sports:</h5>
                     <div class="checkbox">
                        <label>
                           <input type="checkbox">Karate
                        </label>
                        <label>
                           <input type="checkbox">Judo
                        </label>
                        <label>
                           <input type="checkbox">Taekwondo
                        </label>
                        <label>
                           <input type="checkbox">Boxing
                        </label>
                        <label>
                           <input type="checkbox">Sport Mix Martial Arts
                        </label>
                        <label>
                           <input type="checkbox">Fencing
                        </label>
                     </div>
                     <h5>Target Sports:</h5>
                     <div class="checkbox">
                        <label>
                           <input type="checkbox">Shooting
                        </label>
                        <label>
                           <input type="checkbox">Archery
                        </label>
                     </div>
                     <h5>Aquatics:</h5>
                     <div class="checkbox">
                        <label>
                           <input type="checkbox">Swimming
                        </label>
                        <label>
                           <input type="checkbox">Water Polo
                        </label>
                     </div>
                     <h5>Individual Sports:</h5>
                     <div class="checkbox">
                        <label>
                           <input type="checkbox">Carrom
                        </label>
                        <label>
                           <input type="checkbox">Chess
                        </label>
                        <label>
                           <input type="checkbox">Athletics
                        </label>
                        <label>
                           <input type="checkbox">Gymnastics
                        </label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="widget">
                  <div class="form-elements-sec">
                     <div class="form-group">
                        <h5>Medals Tally</h5>
                        <div class="row">
                           <div class="col-md-4">
                              <label>Gold</label>
                              <input type="text" placeholder="Gold" class="form-control">
                           </div>
                           <div class="col-md-4">
                              <label>Silver</label>
                              <input type="text" placeholder="Silver" class="form-control">
                           </div>
                           <div class="col-md-4">
                              <label>Bronze</label>
                              <input type="text" placeholder="Bronze" class="form-control">
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-md-6">
                              <label>Total Points</label>
                              <input type="text" placeholder="Total Points" class="form-control">
                           </div>
                           <div class="col-md-6">
                              <label>Rank</label>
                              <input type="text" placeholder="Rank" class="form-control">
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label>Principal</label>
                        <input type="text" placeholder="Principal" class="form-control">
                     </div>
                     <div class="form-group">
                        <label>Logo</label>
                        <input type="file" class="form-control">
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-md-6">
                              <label>Contingent Leader</label>
                              <input type="text" placeholder="Contingent Leader" class="form-control">
                           </div>
                           <div class="col-md-6">
                              <label>Contingent Strength</label>
                              <input type="text" placeholder="Contingent Strength" class="form-control">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="text-center mt20">
            <button class="btn btn-default" type="submit">Save</button>
            <button class="btn btn-default" type="submit">Cancel</button>
         </div>
         </form>
      </div>
   </div>
</div>
<!-- <div class="widget">
   <div class="form-elements-sec">
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="disabledSelect">Status</label>
               <select class="form-control">
                  <option value="select">Select Status</option>
                  <option value="select">Active</option>
                  <option value="select">Inactive</option>
               </select>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> Is a Billable Branch
               </label>
            </div>
            <div class="form-group">
               <label for="disabledSelect">Series Format</label>
               <select class="form-control">
                  <option value="select">Select Series Format</option>
                  <option value="select">1</option>
                  <option value="select">2</option>
               </select>
            </div>
         </div>
         <div class="col-md-6">
            <label for="disabledSelect">TAT</label>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> STAT
               </label>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> ITAT
               </label>
               <div class="checkbox">
                  <label>
                     <input type="checkbox"> FSR
                  </label>
               </div>
               <div class="checkbox">
                  <label>
                     <input type="checkbox"> R2NR
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->
