<!-- <div class="breadcrumbs">
  <ul>
    <li>
      <a title="Home">Company Setup</a>
    </li>
    <li>
      <a ui-sref="branch-list" title="Branch List">Branch List</a>
    </li>
  </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{pageName}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="saveStudent();">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Student Id*</label>
                                    <input type="text" placeholder="Student Id" class="form-control" ng-model="student.sfaid" required readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>School*</label>
                                    <ui-select ng-model="student.school" title="Select School">
                                        <ui-select-match placeholder="Select School">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="school in schools | filter: $select.search">
                                            <div ng-bind-html="school.name | highlight: $select.search"></div>
                                            <small>
                                                SFA-ID:<span ng-bind-html="school.sfaid | highlight: $select.search"></span>
                                                Primary-ID:<span ng-bind-html="school._id | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="last-name">Last Name*</label>
                                            <input type="text" class="form-control" ng-model="student.lastname" required capitalize-first>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="first-name">First Name*</label>
                                            <input type="text" class="form-control" ng-model="student.firstname" required capitalize-first>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="middle-name">Middle Name</label>
                                            <input type="text" class="form-control" ng-model="student.middlename" capitalize-first>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" ng-if="create">
                                            <label for="">Check Student If Exists</label>
                                            <div class="form-group">
                                                <a class="btn btn-default" ng-click="checkStud()">Check If Exists</a>
                                            </div>
                                            <span class="error" ng-if="validateError.valid">{{validateError.message}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gender*</label>
                                    <select class="form-control" ng-model="student.gender" required>
                                        <option value="">Select Gender</option>
                                        <option value="Boys">Boy</option>
                                        <option value="Girls">Girl</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <input type="date" class="form-control" placeholder="Date Of Birth" ng-model="student.dob" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget">
                                    <label>Via</label>
                                    <select class="form-control" ng-model="student.via" ng-options="i for i in via">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="widget">
                                    <label>Payment</label>
                                    <select class="form-control" ng-model="student.payment" ng-options="i for i in payment">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-elements-sec">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea placeholder="Address" class="form-control" ng-model="student.address"> </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="widget">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <input type="text" placeholder="Location" class="form-control" ng-model="student.location">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Email (Comma seperated)</label>
                                            <input type="text" placeholder="Email (Comma seperated)" class="form-control" ng-model="student.email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="widget">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Contact (Comma seperated)</label>
                                            <input type="text" placeholder="Contact (Comma seperated)" class="form-control" ng-model="student.contact">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="form-elements-sec upload-pic">
                                    <!--  <div class="form-group">
                                        <h5>Medals Tally</h5>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Gold</label>
                                                <input type="text" placeholder="Gold" class="form-control">
                                            </div>
                                            <div class="col-md-4">
                                                <label>Silver</label>
                                                <input type="text" placeholder="Silver" class="form-control">
                                            </div>
                                            <div class="col-md-4">
                                                <label>Bronze</label>
                                                <input type="text" placeholder="Bronze" class="form-control">
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label>Profile Picture</label>
                                        <div class="banner-img-holder" ng-if="student.profilePic">
                                            <img ng-src="{{student.profilePic|uploadpath}}" alt="" class="img-responsive margin-auto">
                                        </div>
                                        <upload-image ng-model="student.profilePic" no-view></upload-image>
                                    </div>
                                    <!--  <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Videos (Comma seperated)</label>
                                                <input type="email" placeholder="Videos (Comma seperated)" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Photos (Comma seperated)</label>
                                                <input type="text" placeholder="Photos (Comma seperated)" class="form-control">
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                <div class="form-elements-sec">
                                    <div class="form-group">
                                        <label>Date Of Form</label>
                                        <input type="date" class="form-control" placeholder="Date Of Form" ng-model="student.dateOfForm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <div class="form-elements-sec">
                                    <div class="form-group">
                                        <label>Time Of Form</label>
                                        <div class="select-time">
                                            <select class="form-control" ng-model="student.hours" ng-options="i for i in hours">
                                            </select>
                                            <select class="form-control" ng-model="student.minutes" ng-options="i for i in minutes">
                                            </select>
                                            <select class="form-control" ng-model="student.timer" ng-options="i for i in timer">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center mt20" ng-if="showError ==true">
                            <span class="error">Please enter proper Email & Contact No.</span>
                        </div>
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit">Save</button>
                            <button class="btn btn-default" ui-sref="student">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
