<!-- <div id="progressBar">
    <div class="loader"></div>
</div> -->
<!-- <div class="breadcrumbs">
    <ul>
        <li><a title="Home">Home</a></li>
        <li><a ui-sref="dashboard" title="Dashboard">Dashboard</a></li>
    </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="mini-stats-sec">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="mini-stats ">
                                <span class="red-skin"><i class="fa fa-users" aria-hidden="true"></i></span>
                                <p>No.of Students</p>
                                <h3>{{static.student}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="mini-stats ">
                                <span class="sky-skin"><i class="fa fa-building" aria-hidden="true"></i></span>
                                <p>No.of Students</p>
                                <h3>{{static.student}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <label>Year</label>
                            <select class="form-control" ng-model="dash.year" ng-options="year for year in allYears" ng-change="onChange();">
                            </select>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="mini-stats ">
                                <span class="purple-skin"><i class="fa fa-bullhorn"></i></span>
                                <p><i class="fa  fa-arrow-down down"></i> Item Sales</p>
                                <h3>6,101</h3>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- Mini stats Sec -->
        </div>
    </div>
</div>
<!-- Panel Content -->
