<!-- <div id="progressBar">
    <div class="loader"></div>
</div> -->
<!-- <div class="breadcrumbs">
    <ul>
        <li><a title="Home">Home</a></li>
        <li><a ui-sref="dashboard" title="Dashboard">Dashboard</a></li>
    </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="mini-stats-sec">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="mini-stats ">
                                <span class="red-skin"><i class="fa fa-users" aria-hidden="true"></i></span>
                                <p>No.of Students</p>
                                <h3>{{static.student}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="mini-stats ">
                                <span class="sky-skin"><i class="fa fa-building" aria-hidden="true"></i></span>
                                <p>No.of Schools</p>
                                <h3>{{static.school}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="">
                            <label style="padding: 10px; margin: 0; width: 100%" for="year">Year</label>
                            <select id="year" class="form-control" ng-model="dash.year" ng-options="year for year in allYears" ng-change="onChange();">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="dynamic.studentSport.length <= 0">
                    <div class="col-md-3">
                        <label style="padding: 10px; margin: 0; width: 100%">Student Sports</label>
                        <div class="bg-white">
                            <div class="mini-stats  student-sport-view">
                                No Data Available
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="dynamic.studentSport.length > 0">
                    <label style="padding: 10px; margin: 0; width: 100%">Student Sports</label>
                    <div class="col-md-3" ng-repeat="item in dynamic.studentSport">
                        <div class="bg-white">
                            <div class="mini-stats student-sport-view">
                                <span class="purple-skin"><i class="fa fa-futbol-o"></i></span>
                                <p>{{item.name}}</p>
                                <h3>{{item.count}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="dynamic.schoolSport.length <= 0">
                    <div class="col-md-3">
                        <label style="padding: 10px; margin: 0; width: 100%">School Sports</label>
                        <div class="bg-white">
                            <div class="mini-stats  student-sport-view">
                                No Data Available
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="dynamic.schoolSport.length > 0">
                    <label style="padding: 10px; margin: 0; width: 100%">School Sports</label>
                    <div class="col-md-3" ng-repeat="item in dynamic.schoolSport">
                        <div class="bg-white">
                            <div class="mini-stats  student-sport-view">
                                <span class="purple-skin"><i class="fa fa-futbol-o"></i></span>
                                <p>{{item.name}}</p>
                                <h3>{{item.count}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mini stats Sec -->
        </div>
    </div>
</div>
<!-- Panel Content -->
