<div class="heading-sec">
    <div class="row">
        <!-- <div class="col-md-4 column"> -->
        <div class="heading-profile text-center">
          <h2>{{selectedsport.sportslist.name}} {{selectedsport.gender}} {{selectedsport.firstcategory.name}} {{selectedsport.secondcategory.name}} {{selectedsport.thirdcategory.name}} {{selectedsport.agegroup.name}} Heats - {{selectedsport.year}}</h2>
        </div>
        <!-- </div> -->
    </div>
</div>
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="main-dv">


                        <!-- <div class="widget-title">

                            <h3>Add Round</h3>
                        </div> -->
                        <div class="w-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>Order</span>
                                    <input type="text" placeholder="Order" class="form-control w20" ng-model="heat.order" only-digits>
                                </div>
                                <div class="col-md-6">
                                    <span>Round</span>
                                    <input type="text" placeholder="Round Name" class="form-control" ng-model="heat.round" >
                                </div>
                                <div class="col-md-4">
                                    <div class="pull-right mt18">
                                        <a class="btn btn-primary" ng-click="addRound()">Add Round</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="main-dv mt50" ng-repeat= "heat in heats | orderBy:'-order'">


                        <div class="widget-title">
                            <div class="pull-right">
                                <a class="btn btn-primary" ui-sref="createschool">Add Heat</a>
                            </div>
                            <h3>{{heat.round}}</h3>
                        </div>
                        <div class="w-body">
                            <div class="">
                                <!-- <div class="widget-title">
                                    <div class="pull-right">

                                        <a class="btn btn-primary" ui-sref="createsport">Add New</a>
                                    </div>
                                    <h3>List of Sports</h3>
                                </div> -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Match ID</th>
                                                <th>Heat</th>
                                                <th>Operations</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr ng-repeat="singleheat in heat.heats">
                                                <td>{{singleheat.matchid}}</td>
                                                <td>
                                                    {{singleheat.heat}}
                                                </td>
                                                <td>
                                                    test4
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="text-center" ng-if="sports.length==0">
                                        <h5>No results found</h5>
                                    </div>
                                    <div class="">
                                        <uib-pagination ng-show="sport.data.length > 0" ng-change="reload();" total-items="sport.total" ng-model="pagination.pagenumber" items-per-page="20">

                                        </uib-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
