<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{sportSelected.name}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="main-s">
                        <h4 class="margin0">2015</h4 >
                        <div class="mt20 my-btn">
                           <button class="btn btn-default" ui-sref="viewknockout" >Handball boys U-16</button><br>
                           <button class="btn btn-default" ui-sref="viewknockout" >Handball girls U-16</button>
                        </div>
                    </div>
                    <div class="main-s mt20">
                      <h4 class="margin0">2016</h4 >
                      <div class="mt20 my-btn">
                        <button class="btn btn-default" type="submit">Handball boys U-16</button><br>
                        <button class="btn btn-default" >Handball girls U-16</button>
                      </div>
                    </div>
          </div>
        </div>
    </div>
  </div>
</div>
