<div class="heading-sec">
    <div class="row">
        <!-- <div class="col-md-4 column"> -->
        <div class="heading-profile text-center">
            <h2>{{selectedsport.sportslist.name}} {{selectedsport.gender}} {{selectedsport.firstcategory.name}} {{selectedsport.secondcategory.name}}
                {{selectedsport.thirdcategory.name}} {{selectedsport.agegroup.name}} League Knockout - {{selectedsport.year}}</h2>
        </div>
        <!-- </div> -->
    </div>
</div>
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="main-dv">


                        <!-- <div class="widget-title">

                            <h3>Add Round</h3>
                        </div> -->
                        <div class="w-body">
                            <form name="addRoundForm" ng-submit="addRound()">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span><b>Order</b></span>
                                        <input type="text" placeholder="Order" name="order" class="form-control w20" ng-model="leagueknockout.leagueknockoutorder"
                                            only-digits required>
                                    </div>
                                    <div class="col-md-2">
                                        <span><b>Round</b></span>
                                        <input type="text" placeholder="Round Name" name="round" class="form-control" ng-model="leagueknockout.leagueknockoutround"
                                            required>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="pull-right mt18">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add Round</button>

                                        </div>

                                        <!-- <div class="pull-right mt18">


                                            <a class="btn btn-default" ui-sref="leagueknockoutsport({id:selectedsport.sportslist._id})">
                                                < Back to {{selectedsport.sportslist.name}}</a>
                                        </div> -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-right mt18">


                                            <a class="btn btn-default" ui-sref="leagueknockoutsport({id:selectedsport.sportslist._id})">
                                                < Back to {{selectedsport.sportslist.name}}</a>

                                                    <a class="btn btn-info" href="{{adminURL}}leagueknockout/exportSwissLeague?sport={{leagueknockout.sport}}"><i class="fa fa-download"></i>&nbsp; League Knockout</a>
                                                    <upload-excel button-text="buttonText" ng-model="profilePic" no-view uploadhere="uploadurl" ng-callback="thismodel" current-state="cs"></upload-excel>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="main-dv mt50" ng-repeat="leagueknockout in leagueknockouts | orderBy:'-order'">
                        <div class="widget-title w-title">
                            <div class="pull-right">
                                <a class="btn btn-primary" ui-sref="createleagueknockout({'sportid':selectedsport._id,'round':leagueknockout.leagueknockoutround,'order':leagueknockout.leagueknockoutorder})"><i class="fa fa-plus"></i>&nbsp;Add League Knockout</a>
                            </div>
                            <h3 class="text-uppercase">#{{leagueknockout.leagueknockoutorder}} {{leagueknockout.leagueknockoutround}}</h3>
                        </div>
                        <div class="leagueknockout-body">
                            <div class="">
                                <!-- <div class="widget-title">
                                    <div class="pull-right">

                                        <a class="btn btn-primary" ui-sref="createsport">Add New</a>
                                    </div>
                                    <h3>List of Sports</h3>
                                </div> -->
                                <div class="table-responsive ">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Match ID</th>
                                                <th>Participant Type</th>
                                                <th>Participant 1</th>
                                                <th>Result 1</th>
                                                <th>Points 1</th>
                                                <th>Participant 2</th>
                                                <th>Result 2</th>
                                                <th>Points 2</th>

                                                <th>Score</th>
                                                <th class="text-center" colspan="2">Operations</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="key in leagueknockout.leagueknockouts | orderBy : 'matchorder'">
                                                <td>{{key.matchid}}</td>
                                                <td>{{key.participantType == 'player' && 'Student' || key.participantType ==
                                                    'team' && 'Team' || 'Not Declared'}}</td>
                                                <td>{{key.participantType == 'player' && key.player1.name || key.participantType
                                                    == 'team' && key.team1.name || 'Not Declared' | letterLimit :13}}</td>
                                                <td>{{key.result1 || 'Not Declared'}}</td>
                                                <td>{{key.point1 || 'Not Declared'}}</td>
                                                <td>{{key.participantType == 'player' && key.player2.name || key.participantType
                                                    == 'team' && key.team2.name || 'Not Declared' | letterLimit :13 }}</td>
                                                <td>{{key.result2 || 'Not Declared'}}</td>
                                                <td>{{key.point2 || 'Not Declared'}}</td>

                                                <td ng-class="{'bckgrnd-red':!key.score}">{{key.score}}</td>
                                                <td class="text-center">
                                                    <a ui-sref="editleagueknockout({id:key._id,sportid:selectedsport._id,round:leagueknockout.leagueknockoutround,order:leagueknockout.leagueknockoutorder})"
                                                        class="btn btn-primary">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <a ng-click="deleteFunc(key._id)" class="btn btn-primary">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="text-center" ng-if="sports.length==0">
                                        <h5>No results found</h5>
                                    </div>
                                    <div class="">
                                        <uib-pagination ng-show="sport.data.length > 0" ng-change="reload();" total-items="sport.total" ng-model="pagination.pagenumber"
                                            items-per-page="20">

                                        </uib-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>