<div class="heading-sec">
    <div class="row">
        <!-- <div class="col-md-4 column"> -->
            <div class="heading-profile text-center">
                <h2>League Dashboard</h2>
            </div>
        <!-- </div> -->
    </div>
</div>
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="main-s mt20" ng-repeat="key in sports">
                        <h4 class="margin0">{{key.sporttype}} Sport</h4>
                        <div class="mt20 my-btn" >
                            <button class="btn btn-default" ui-sref="leagueknockoutsport({id:item._id})" ng-repeat="item in key.name">{{item.name}}</button>

                        </div>
                    </div>
                    <!-- <div class="main-s mt20">
                        <h4 class="margin0">Combat Sport</h4>
                        <div class="mt20 my-btn">
                             <button class="btn btn-default" type="submit">Handball</button><br>
                           <button class="btn btn-default" >Basketball</button>
                        </div>
                      </div> -->
                </div>
        </div>
    </div>
  </div>
</div>
