<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<!-- <div class="breadcrumbs">
   <ul>
      <li>
         <a title="Home">Company Setup</a>
      </li>
      <li>
         <a ui-sref="branch-list" title="Branch List">Branch List</a>
      </li>
   </ul>
</div> -->

<div class="heading-sec">
   <div class="row">
         <div class="heading-profile text-center">
            <h2>{{selectedsport.sportslist.name}} {{selectedsport.gender}} {{selectedsport.firstcategory.name}} {{selectedsport.secondcategory.name}} {{selectedsport.thirdcategory.name}} {{selectedsport.agegroup.name}} Medals - {{selectedsport.year}}</h2>
         </div>
   </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
   <div class="row">
      <div class="col-md-12">
         <div class="widget">
            <div class="table-area">
               <div class="widget-title">
                  <div class="pull-right">
                     <a class="btn btn-default" ui-sref="medalsport({id:selectedsport.sportslist._id})">< Back to {{selectedsport.sportslist.name}}</a>
                     <a class="btn btn-primary" ui-sref="createmedal({sportid:selectedsport._id})">Add New</a>
                  </div>
                  <h3>List of Medals</h3>
               </div>
               <div class="table-responsive">
                  <table class="table" >
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Participant type</th>
                           <th>Participant</th>
                           <th>P T2K15</th>
                           <th>P T2K16</th>
                           <!-- <th>P T2K17</th> -->
                           <th>School</th>
                           <th>Sc. T2K15</th>
                           <th>Sc. T2K16</th>
                           <!-- <th>Sc. T2K17</th> -->
                           <th>Medal</th>
                           <!-- <th>Medal</th>
                           <th>R 2</th>
                           <th>Round Name</th>
                           <th>Round No</th>
                           <th>Order</th>
                           <th >Score</th> -->
                           <th class="text-center" >Operations</th>
                        </tr>
                     </thead>
                     <tbody ng-if="medals.length>0">
                        <tr ng-repeat="value in medals| filter:search | orderBy  :'medal'">
                           <td>{{$index+1}}</td>
                           <td>{{value.participantType == 'player' && 'Student' || 'Team'}}</td>
                           <td ng-if="value.participantType == 'player'">{{value.player.name}}</td>
                           <td ng-if="value.participantType == 'team'">{{value.team.name}}</td>
                           <td ng-if="value.participantType == 'player'">{{value.player.totalPoints2015}}</td>
                           <td ng-if="value.participantType == 'player'">{{value.player.totalPoints2016}}</td>
                           <!-- <td ng-if="value.participantType == 'player'">{{value.player.totalPoints2017}}</td> -->
                           <td ng-if="value.participantType == 'team'">-</td>
                           <td ng-if="value.participantType == 'team'">-</td>
                           <td>{{value.school.name}}</td>
                           <td>{{value.school.totalPoints2015}}</td>
                           <td>{{value.school.totalPoints2016}}</td>
                           <!-- <td>{{value.school.totalPoints2017}}</td> -->
                           <td>{{(value.medal == 1 && 'Gold')|| (value.medal == 2 && 'Silver') || (value.medal == 3 && 'Bronze')}}</td>
                           
                           <td class="text-center">
                              <a ng-if="!value.isAddedFromTeam" ng-click="deleteFunc(value._id)" class="btn btn-primary">
                                 <i class="fa fa-trash"></i>
                              </a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="text-center" ng-if="medals.length==0">
                     <h5>No medals found</h5>
                  </div>
                  <div class="">
                      <uib-pagination ng-show="medal.data.length > 0" ng-change="reload();" total-items="medal.total" ng-model="pagination.pagenumber" items-per-page="20">

                      </uib-pagination>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
