<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<!-- <div class="breadcrumbs">
   <ul>
      <li>
         <a title="Home">Company Setup</a>
      </li>
      <li>
         <a ui-sref="branch-list" title="Branch List">Branch List</a>
      </li>
   </ul>
</div> -->

<div class="heading-sec">
   <div class="row">
      <div class="col-md-4 column">
         <div class="heading-profile">
            <h2>Sports</h2>
         </div>
      </div>
   </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
   <div class="row">
      <div class="col-md-12">
         <div class="widget">
            <div class="table-area">
               <div class="widget-title">
                  <div class="pull-right">
                    <a class="btn btn-info" target="_blank" href="{{adminURL}}sport/excelDownload"><i class="fa fa-download"></i>&nbsp; Sports Excel</a>
                     <a class="btn btn-primary" ui-sref="createsport"><i class="fa fa-plus"></i>&nbsp;Add New</a>
                  </div>
                  <h3>List of Sports</h3>
               </div>
               <div class="table-responsive">
                  <table class="table" >
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Sport</th>
                           <th class="text-center" colspan="2">Operations</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Search By :</td>
                           <td>
                              <input type="text" placeholder="Sport" class="form-control" ng-model="pagination.name" ng-change="reload()">
                              <!-- <ui-select ng-model="selected.value">
                                 <ui-select-match>
                                    <span ng-bind="$select.selected.name"></span>
                                 </ui-select-match>
                                 <ui-select-choices repeat="item in (ageGroups | filter: $select.search) track by item._id">
                                    <span ng-bind="item.name"></span>
                                 </ui-select-choices>
                              </ui-select> -->
                           </td>
                        </tr>
                        <tr ng-repeat="value in sports | filter:search" ng-if="sports.length>0">
                           <td>{{$index+1}}</td>
                           <td>{{value.sportslist.name}} {{value.gender}} {{value.firstcategory.name}} {{value.secondcategory.name}} {{value.thirdcategory.name}} {{value.agegroup.name}} - {{value.drawFormat}} - {{value.year}}</td>
                           <td class="text-center">
                              <a ui-sref="editsport({id:value._id})" class="btn btn-primary">
                                 <i class="fa fa-pencil-square-o"></i>
                              </a>
                           </td>
                           <td class="text-center">
                              <a ng-click="deleteFunc(value._id)" class="btn btn-primary">
                                 <i class="fa fa-trash"></i>
                              </a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="text-center" ng-if="sports.length==0">
                     <h5>No results found</h5>
                  </div>
                  <div class="">
                      <uib-pagination ng-show="sport.data.length > 0" ng-change="reload();" total-items="sport.total" ng-model="pagination.pagenumber" items-per-page="20">

                      </uib-pagination>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
