<!-- <div id="progressBar">
   <div class="loader"></div>
</div> -->
<!-- <div class="breadcrumbs">
   <ul>
      <li>
         <a title="Home">Company Setup</a>
      </li>
      <li>
         <a ui-sref="branch-list" title="Branch List">Branch List</a>
      </li>
   </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Student Sport</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <div class="pull-right">
                            <a class="btn btn-primary" ui-sref="createstudentsport({id:studentId})">Add New</a>
                        </div>
                        <h3>List of Sports</h3>
                    </div>
                    <div class="table-responsive" ng-if="sports.length > 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sport Name</th>
                                    <th class="text-center" colspan="2">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sport in sports">
                                    <td>1</td>
                                    <td>{{sport.sportslist.name}} - {{sport.year}}</td>
                                    <td class="text-center">
                                        <a ui-sref="editstudentsport({id:sport._id})" class="btn btn-primary">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a ng-click="deleteFunc(sport._id)" class="btn btn-primary">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive text-center" ng-if="sports.sport.length < 1">
                        <h5>No results found</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
