<!-- <div id="progressBar">
   <div class="loader"></div>
</div> -->
<!-- <div class="breadcrumbs">
   <ul>
      <li>
         <a title="Home">Company Setup</a>
      </li>
      <li>
         <a ui-sref="branch-list" title="Branch List">Branch List</a>
      </li>
   </ul>
</div> -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Students</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <div class="pull-right">
                            <a class="btn btn-info" target="_blank" href="{{adminURL}}studentsport/excelDownloadStudent"><i class="fa fa-download"></i>&nbsp; Student 2016 Excel</a>
                            <a class="btn btn-info" href="{{adminURL}}studentsport/excelDownloadAllStudent"><i class="fa fa-download"></i>&nbsp; All Student Excel</a>
                            <a class="btn btn-primary" ui-sref="createstudent">Add New</a>
                        </div>
                        <h3>List of Students</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Student Id</th>
                                    <th>Student Name</th>
                                    <th class="text-center" colspan="2">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td style="width: 12%;">Search By :</td>
                                <td style="width: 30%;">
                                    <input type="text" placeholder="Student SFA-ID" class="form-control" ng-model="pagination.sfaid" ng-change="reload(1);" only-digits>
                                </td>
                                <td style="width:30%">
                                    <input type="text" placeholder="Student Name" class="form-control" ng-model="pagination.name" ng-change="reload(2);">
                                </td>
                                <tr ng-if="students.data.length <= 0 && !contentLoaded" class="loadingTable">
                                    <td>Loading...</td>
                                </tr>
                                <tr ng-if="students.data.length <= 0 && contentLoaded" class="loadingTable">
                                    <td>No Data Available</td>
                                </tr>
                                <tr ng-repeat="student in students.data" ng-if="students.data.length>0 && contentLoaded">
                                    <td>{{$index+1}}</td>
                                    <td>{{student.sfaid}}</td>
                                    <td>{{student.name}}</td>
                                    <td class="text-center">
                                        <a ui-sref="editstudent({id:student._id})" class="btn btn-primary">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a ng-click="hideStudent(student._id,true)" class="btn btn-primary wd75" ng-if="student.deleteStatus == false">
                                            <span>Hide</span>
                                        </a>
                                        <a ng-click="hideStudent(student._id,false)" class="btn btn-primary wd75" ng-if="student.deleteStatus == true">
                                            <span>Unhide</span>
                                        </a>
                                    </td>
                                    <!-- <td class="text-center">
                                        <a ng-click="deleteFunc(student._id)" class="btn btn-primary">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="">
                        <uib-pagination ng-show="students.data.length > 0" ng-change="reload();" total-items="students.total" ng-model="pagination.pagenumber" items-per-page="20"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
