<!-- <div id="progressBar">
   <div class="loader"></div>
</div> -->
<!-- <div class="breadcrumbs">
   <ul>
      <li>
         <a title="Home">Company Setup</a>
      </li>
      <li>
         <a ui-sref="branch-list" title="Branch List">Branch List</a>
      </li>
   </ul>
</div> -->
<div class="heading-sec">
   <div class="row">
      <div class="col-md-4 column">
         <div class="heading-profile">
            <h2>Students</h2>
         </div>
      </div>
   </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
   <div class="row">
      <div class="col-md-12">
         <div class="widget">
            <div class="table-area">
               <div class="widget-title">
                  <div class="pull-right">
                     <a class="btn btn-primary" ui-sref="createstudent">Add New</a>
                  </div>
                  <h3>List of Students</h3>
               </div>
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Student Id</th>
                           <th>Student Name</th>
                           <th class="text-center" colspan="2">Operations</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="student in students">
                           <td>1</td>
                           <td>{{student.sfaid}}</td>
                           <td>{{student.name}}</td>
                           <td class="text-center">
                              <a ui-sref="editstudent({id:student._id})" class="btn btn-primary">
                                 <i class="fa fa-pencil-square-o"></i>
                              </a>
                           </td>
                           <td class="text-center">
                              <a ng-click="deletefun(value._id)" class="btn btn-primary">
                                 <i class="fa fa-trash"></i>
                              </a>
                           </td>
                        </tr>
                        <!-- <tr>
                           <td>2</td>
                           <td>Facebook Pvt. Ltd.</td>
                           <td>FAC123</td>
                           <td>FB</td>
                        </tr>
                        <tr>
                           <td>3</td>
                           <td>Twitter Pvt. Ltd.</td>
                           <td>TWI123</td>
                           <td>TW</td>
                        </tr> -->
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
