<div class="top-bar">
   <div class="logo">
      <a ui-sref="dashboard" title="">
         <!-- <img src="img/logo.png" alt="" width="40" /> -->
         <span>SFA Admin</span>
      </a>
      <div class="menu-options"><span class="menu-action"><i></i></span></div>
   </div>
   <div class="quick-links">
      <ul>
         <li><a title="" class="show-stats red-skin" ng-click="logout();"><i class="fa fa-power-off"></i></a></li>
      </ul>
   </div>
</div>
<!-- Top Bar -->
<header class="side-header light-skin opened-menu">
   <div class="admin-details"></div>
   <div class="menu-scroll">
      <div class="side-menus">
         <!-- <span>MAIN LINKS</span> -->
         <nav ng-include="template.menu"></nav>
      </div>
   </div>
   <!-- Menu Scroll -->
</header>
