<section class="panel panel-default" style="border-radius:0px">
   <div class="panel-heading panel-hdr text-center">Sub Navigation</div>
   <div class="panel-body">
      <div class="">
         <!-- <a href="#/edituser/{{usr}}" class="all-btn btn  btn-block" ng-hide="hideback">Back to Artist<span class="badge">{{foldercount}}</span></a>
         <a href="#/wishlistfolder/{{usr}}" class="all-btn btn  btn-block">Whislist Folder <span class="badge">{{foldercount}}</span></a>
         <a href="#/wishlist/{{usr}}" class="all-btn btn  btn-block">Wishlist <span class="badge">{{sharecount}}</span></a>
         <a href="#/artwork/{{usr}}" class="all-btn btn  btn-block">Artwork <span class="badge">{{feedcount}}</span></a> -->
         <span ng-repeat="subMenu in subMenuList">
         <a ui-sref="{{subMenu.redirect}}" class="all-btn btn  btn-block" ng-if="subMenu.redirect">{{subMenu.title}}</a>
         <a href="{{subMenu.url}}" class="all-btn btn  btn-block" ng-if="subMenu.url">{{subMenu.title}}</a>
         </span>
      </div>
   </div>

</section>
